.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/dictionaries/
.idea/saveactions_settings.xml
.project
.settings/
.idea/caches/
app/.classpath
app/.project
app/.settings/
app/signing.gradle
*.iml
modules.xml


